<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOCAL BUS LOCAL BUS</title>
</head>
<body>

    <h1> local </h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolor, aspernatur consequatur iusto earum modi error consectetur aliquam rem dolorem laborum soluta. Vero libero doloribus suscipit unde sit similique ratione repellat! Ipsam cum recusandae veniam debitis totam cupiditate magni eaque accusantium non, laboriosam quod vitae omnis expedita dolorem ab saepe consequatur et dignissimos adipisci aperiam exercitationem culpa amet? Atque aliquam ea totam ratione accusantium aspernatur quisquam soluta dicta, laudantium, provident in quaerat, eligendi eum ut dolore porro ullam consequatur fugit nisi? Non quasi suscipit itaque repudiandae impedit accusantium modi aliquam eius ex, voluptas optio quae debitis. Perspiciatis facere reprehenderit a, est ad quo ipsum totam laborum in id esse voluptatem qui necessitatibus deserunt!</p>
    
    <form action="">

<label for="name1">First name </label>
<input type="text" name="name1">

<label for="amount">Amount </label>
<input type="text" name="amount">

<button>  SUBMIT  </button>

    </form>
</body>
</html>