<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN BUS MAIN MAIN BUS</title>
</head>
<body>

    <h1> main bus MAIN </h1>
    
{%  for d in data1 %}
    {{d.name}}    >>  {{d.amount}} <br> 

{% endfor %}
<br><br><br>
{% for l1 in l  %}
    {{l1}}
{% endfor  %}
    {{n}}

{%  for a,b in c.items %}
    {{a}} {{b}}
{% endfor %}


<form action="">
    {{form}}
<button>Submit</button>

</form>

{{f1}}
    
</body>
</html>