<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPdating data HTML page</title>
</head>
<body>
    
    <h1>updating .....  </h1>




<form action="/pass/">

    <label for="">Name</label>
    <input type="text" name="name2" value="{{u1.name}}">
    
    <label for="">caste</label>
    <input type="text" name="caste2" value="{{u1.caste}}">
    
    <label for="">comments</label>
    <input type="text" name="comments2" value="{{u1.comments}}">
    
    <label for="">child_no</label>
    <input type="text" name="child_no2" value="{{u1.child_no}}">
    
    <button>    SUBMIT   </button>
  
</form>


    <h2> update  .... >>>  </h2>


</body>
</html>