<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ADD ADD   EMPLoyee HOME PAGE</title>
     <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>

    <h1> ADD EMPLOYEE home Page  </h1>
    <br>
    <form action="/emp/add-emp/" method="POST">
        {% csrf_token %} 
            <div class="mb-3">
              <label for="name" class="form-label">Employee Name</label>
              <input type="text" class="form-control" name="name" >
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone Number Here</label>
                <input type="text" class="form-control" name="phone" >
              </div>
              <div class="mb-3">
                <label for="loc" class="form-label">location </label>
                <input type="text" class="form-control" name="loc" >
              </div>
        

            <button type="submit" class="btn btn-primary">Submit</button>


    </form>

    <br>
    <form action="">
      {{form.as_table}}


    </form>


    <br>
    <br>
    
    
</body>
</html>