{% comment %} {%  load post_tags %} {% endcomment %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLOWER ORDER CONFIRMATION </title>
</head>
<body>
    <h1>    Thanks for ordering the flower </h1>


        {% comment %} <h1> Totoal FLOWER COUNT HERE >> {% total_flower  %} </h1>   {% endcomment %}

<br>
    you order details are <br>

    Thanks {{name}}  for ordering flower . 
    Your totalprice is {{totalprice}} . 
    it will be delivered to your {{address}}  and contacted through mobile {{mobile_no}}
    
</body>
</html>


