<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIFT</title>
</head>
<body>
    <h1> GIFT HOME PAGE </h1>
    <p>for the order of flower  click here </p>
    <br>
    {% comment %} <a href="flower_homePage.html"> flower Order Page </a> {% endcomment %}
    {% comment %} <a href="flowerorder/flower/"> flower Order Page </a> {% endcomment %}

    <a href="  {%  url 'orderflower'  %}"> flower Order Page </a>


    <br>
    <p> for the Pen order Click here </p>
    <a href="Pen_homePage.html">PenHome Page </a>
</body>
</html>


